<link rel='stylesheet' href='/stylesheets/about.css'/>
  <div class="platform col-md-8 col-md-offset-2">
  <div align="center">
    <img src="/images/Profile-Picture-Cropped.png" class="profile-pic" />
  </div>
  <div>
    <h3>
      Summary
    </h3>
    <p>
      For the past 3 years I have worked as an engineer Automating tasks to
      simplify the jobs of those around me. I have turned a countless number of
      thoughts into usable software, from a cli application that interfaces an
      api to calculate a estimated commute time, an iOS app to keep track of
      timecards, or a simple change to aid in the proper response when a
      hardware problem occurs.
    </p>
    <p>
      My degree is in Mechanical engineering which is something that
      I think makes me stand out. I am good at looking at problems holistically
      and determining the root cause of the problems.
    </p>
    <h3>
      Acomplishments
    </h3>
    <p>
    github link
    </p>
    <p>
      wrote this simple website...

    </p>
    <p>
      plug to projects tab
    </p>

    <h3>
    Where I want to be

    </h3>
    <p>
      exsctatic about IOT...
    </p>

    <p>
      amazed by the power of nodeJS...
    </p>

    <h3>
    Where I am coming from
    </h3>
    <p>
      I am an engineer for Texas Instruments...
    </p>

    <p>
      Typically I have worked in roles where the software touches an end product in manufacturing environments...
    </p>

  </div>

</div>
