<link rel='stylesheet' href='/stylesheets/about.css'/>
  <div class="platform col-md-8 col-md-offset-2">
  <div align="center">
    <img src="/images/Profile-Picture-Cropped.png" class="profile-pic" />
  </div>
  <div>
    <h3>
      Summary
    </h3>
    <p>
      For the past 3 years I have worked as an engineer Automating tasks to
      simplify the jobs of those around me. I have turned a countless number of
      thoughts into usable software, from a cli application that interfaces an
      api to calculate a estimated commute time, an iOS app to keep track of
      timecards, or a simple change to aid in the proper response when a
      hardware problem occurs.
    </p>
    <p>
      My degree is in Mechanical engineering which is something that I think
      makes me stand out. I am good at looking at problems holistically and
      determining the root cause of the problems.
    </p>
    <p>
      As I am progressing through my career i find it harder and harder to work
      in environments where my time must be shared between mechanical systems
      and software development. All of my time outside of work is being consumed
      by software and I need to make the change.
    </p>

    <h3>
      Acomplishments
    </h3>

    <p>
      I have worked on systems such as the vehicle system manager used at an
      explosives plant. most of my work involved the automation of the problem
      reports. reports that were previously filled out by hand after every alarm
      occured. most of the data was already provided on the screen but not
      captured at the time of the alarm. My solution was to capture all of the
      events and store them in a SQL database that I created.
    </p>

    <p>
      I also built a notification system from scratch that read the battery
      status on the vehicle and paged when it needed a battery changed. after a
      specified number of emails, the system would escalate the status up the
      chain.
    </p>

    <p>
      The software changes that I have worked on in the past have been primarily
      focused on the back end in c++. But I have recently been working full
      stack for side projects (like this site). More details can be found on the
      <a href="/projects">projects</a> tab.
    </p>

    <h3>
    Where I want to be

    </h3>
    <p>
      exsctatic about IOT...
    </p>

    <p>
      amazed by the power of nodeJS...
    </p>

    <h3>
    Where I am coming from
    </h3>
    <p>
      I am an engineer for Texas Instruments...
    </p>

    <p>
      Typically I have worked in roles where the software touches an end product in manufacturing environments...
    </p>

  </div>

</div>
