<link rel='stylesheet' href='/stylesheets/device.css'/>
<link rel='stylesheet' href='/stylesheets/about.css'/>

<div class="col-md-8 col-md-offset-2 platform" style="background-color:white;">
  <h1 class="center" style="text-align:center;">Garage Door</h1>
  <div class="device-wrapper">
    <div class="status">
    </div>
    <div class="interaction-wrapper">
      <div class="interaction">
        <button>Open</button>
      </div>
      <div class="interaction">
        <button class="pop">View</button>
      </div>
      <div class="interaction">
        <button>Close</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 col-md-offset-2 platform" style="background-color:white;">
  <h1 class="center" style="text-align:center;">Smoker</h1>
  <div class="device-wrapper">
    <div class="status">
    </div>
    <div class="interaction-wrapper">
      <div class="interaction">
        <button>Temp +</button>
      </div>
      <div class="interaction">
        <button class="pop">Trend</button>
      </div>
      <div class="interaction">
        <button>Temp -</button>
      </div>
    </div>
  </div>
</div><div class="col-md-8 col-md-offset-2 platform" style="background-color:white;">
  <h1 class="center" style="text-align:center;">Slow Cooker</h1>
  <div class="device-wrapper">
    <div class="status">
    </div>
    <div class="interaction-wrapper">
      <div class="interaction">
        <button>Temp +</button>
      </div>
      <div class="interaction">
        <button class="pop">Trend</button>
      </div>
      <div class="interaction">
        <button>Temp -</button>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/devices.js"></script>
