<link rel='stylesheet' href='/stylesheets/about.css'/>
{{#if interaction}}
  <div class="alert alert-info alert-dismissable col-sm-8 col-md-offset-2" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>
      Thanks for trying out the form, but unfortunately the save button is just
      for looks, As this is a mockup of a form that I built while working for a
      previous employer.
    </p>
  </div>
{{/if}}
  <div class="col-md-8 col-md-offset-2 platform" style="background-color:white;">
    <h1 class="center" style="text-align:center;">AGV Problem Report</h1>
    <!-- show any messages that come back with authentication -->
    <!-- LOGIN FORM -->
    <form method="post" >
      <div class="form-group row">
        <div class="col-md-2">
          <label>Employee*</label>
          <input type="text" class="form-control" name="ID" placeholder="ID Num" maxlength="6" required="required">
        </div>
        <div class="col-md-2">
          <label>Incident</label>
          <div class="form-group">
            <select class="form-control" id="sel1">
              <option>94</option>
              <option>93</option>
              <option>92</option>
              <option>91</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <label>Alarm Date</label>
          <p>02/13/2017</p>
        </div>
        <div class="col-md-2">
          <label>Alarm Time</label>
          <p>4:42 AM</p>
        </div>
        <div class="col-md-4">
          <label>Alarm Description</label>
          <p>Front Bumper Deflection</p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          <label>AGV #</label>
          <p>4</p>
        </div>
        <div class="col-md-2">
          <label>Battery</label>
          <p>0%</p>
        </div>
        <div class="col-md-2">
          <label>Control</label>
          <p>Auto-Manual</p>
        </div>
        <div class="col-md-2">
          <label>Location</label>
          <p>297</p>
        </div>
        <div class="col-md-2">
          <label>Destination</label>
          <p>303</p>
        </div>
        <div class="col-md-2">
          <label>Last Code*</label>
          <input type="text" maxlength="4" class="form-control" value="BESF" required="required">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label>Status</label>
          <p>Loaded</p>
        </div>
        <div class="col-md-2">
          <label>Weight</label>
          <p>6500 lbs.</p>
        </div>
        <div class="col-md-2">
          <label>Ingredient</label>
          <p>AP</p>
        </div>
        <div class="col-md-2">
          <label>Ingr. Size</label>
          <p>16 Micron</p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label>Cause (if known)</label>
          <textarea name="cause" class="form-control" placeholder="What caused the malfunction of the vehicle?" rows="3">Vehicle was left in pause over the weekend.</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label>Recovery Steps Taken*</label>
          <textarea name="recovery" class="form-control" required="required" placeholder="What actions were taken to return the vehicle to service?" rows="3">Vehicle was removed from the Rated area. Battery was leveled out with fully charged AGV. Vehicle returned to battery change room and the battery was replaced.</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label>Engineering Notes</label>
          <textarea name="EngineeringNotes" class="form-control" placeholder="Notes Provided by engineering in regards to this specific issue." rows="3">Vehicles Should not be placed in pause when not in use.  Pausing when not in use prevents the vehicle from returning for a battery change.</textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12 send-button" style="text-align:center;">
          <button type="submit" class="btn btn-default btn-lg">Save</button>
        </div>
      </div>

    </form>
  </div>
