<link rel='stylesheet' href='/stylesheets/about.css'/>
  <div class="platform col-md-8 col-md-offset-2">
<h1>Projects</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h3>Ongoing</h3>
<ul>
  <li>
    <h4>Know EMR</h4>
    <p>
      Know EMR is a personal project that I am working on.
    </p>
    <p>
      There are currently no useful platforms for monitoring your healthcare. Know EMR is a platform for sharing your healthcare records with others.
    </p>
  </li>
</ul>
<h3>Collaboration</h3>
<ul>
  <li>
    <h4>Tracks</h4>
    <p>
      Tracks is an open source project for helping people get things done. the platform is written in rails and I am currently working on a few patches.
    </p>
  </li>
  <li>
      <h4>Paging System for Automated Guidance Vehicles</h4>
      <p>
        Paging system sent notifications when a vehicle set for too long with a low battery.
      </p>
  </li>
  <li>
      <h4>Wireless Controller for Automated Guidance Vehicles</h4>
      <p>
        This project was merely a proof of concept. I connected an Xbox One Controller to a raspberry pi and wrote logic to simulate an output.
      </p>
  </li>

</ul>
</div>
