<link rel='stylesheet' href='/stylesheets/about.css'/>
  <div class="platform col-md-8 col-md-offset-2">
<h1>Projects</h1>
<p>
  The majority of my experience with software was acquired while working with a
  company that manufactures explosives. Because most of the projects were
  proprietary I was not able to add them to a portfolio. To build up my
  portfolio I have started working on multiple projects. Some that I have
  started from scratch, and some that I have contributed to. This is a brief
  list of what I have worked on over the last few years.
</p>
<h3>Ongoing</h3>
<ul>
  <li>
    <h4>Know EMR</h4>
    <p>
      Know EMR is a personal project that I am working on.
    </p>
    <p>
      Healthcare relationships have always been held private between the patient
      and the doctor. While patient/doctor confidentiality is important, there
      is much to be gained by having the ability to share your medical records.
      For educating healthcare professionals of the future, or seeking alternative
      medical advice from doctors around the world. Know EMR is a platform for
      sharing your healthcare records with others.
    </p>
    <p>
      Know EMR uses SQL, Express, Handlebars, and Node.
    </p>
  </li>
  <li>
      <h4>Wireless Controller for Automated Guidance Vehicles</h4>
      <p>
        This project was merely a proof of concept. I connected an Xbox One Controller to a raspberry pi and wrote logic to simulate an output.
      </p>
      <p>
        This project utilized Python with the joystick library.
      </p>
  </li>
</ul>
<h3>Collaboration</h3>
<ul>
  <li>
    <h4>Tracks</h4>
    <p>
      Tracks is an open source project for helping people get things done. The
      platform is written in rails and I am currently working on a few patches.
    </p>
  </li>
  <li>
    <h4>Paging System for Automated Guidance Vehicles</h4>
      <p>
        Developed a paging system that sent notifications to responsible parties
        when a vehicle set for too long with a low battery. This helped reduce
        the wear and tear on the electrical components of the vehicles.
      </p>
      <p>
        This project utilized C++ and SQL
      </p>
  </li>
</ul>
</div>
