<div class="new">
  <iframe src="http://docs.google.com/gview?url=https://raw.githubusercontent.com/RyanTruran/resume-git/ce27a154eb1cc4b552f52aae806ad544578b74e0/Official/2018-01-09/ryan-truran-resume-2018-01-09.pdf&embedded=true"
    style="width:100%; height:700px;" frameborder="0"></iframe>
</div>
