<div class="new">
  <iframe src="http://docs.google.com/gview?url=https://raw.githubusercontent.com/RyanTruran/resume-git/9574dd09c6b4732c901a543d09aa1081a0101255/ryan-truran-resume.pdf&embedded=true"
    style="width:100%; height:700px;" frameborder="0"></iframe>
</div>
